#documentation
{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    flex-wrap: wrap;
}

#documentation > a
{
    box-sizing: border-box;
    padding: 2em;
    margin: 1em;
    width: calc(375px - 1em);
    box-shadow: 0 5px 20px #EEEEEE, 0 1px 3px #EEEEEE;
    border: 1px solid #EEEEEE;
    text-align: center;
    text-decoration: none;
}

#documentation > a:hover,
#documentation > a:focus,
#documentation > a:active
{
    box-shadow: 0 5px 20px #DDDDDD, 0 1px 3px #DDDDDD;
    border-color: #DDDDDD;
    text-decoration: inherit;
}

#documentation > a:hover h2,
#documentation > a:focus h2,
#documentation > a:active h2
{
    text-decoration: underline;
    font-weight: bolder;
}

#documentation > a p
{
    color: black;
}
